{% extends 'base.html' %}

{% block content %}

<h1>Wacky Widgets</h1>

{% if widgets|length == 0 %}
    <h3>No Widgets Exist</h3>
{% else %}
    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Quantity</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for widget in widgets %}
                <tr>
                    <td>{{widget.description}}</td>
                    <td>{{widget.quantity}}</td>
                    <td><a href="{% url 'delete_widget' widget.id %}">X</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
<hr>
<form action="{% url 'add_widget' %}" method="POST" class="pure-form pure-form-aligned">
    {% csrf_token %}
    {{forms.as_p}}
    
    <button type="submit" class="pure-button">ADD Widget</button>
</form>

{% endblock %}